{% extends 'base.html' %}
{% load mural_tags %}
{% load static %}
{% block title %}Detalhes do Curso - Relator{% endblock %}

{% block content %}
<style>
  .minimizable {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  .minimizable h2 {
    margin-top: 0;
    cursor: pointer;
  }
  .minimizable-content {
    margin-top: 10px;
  }
  .indicador-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Cor suave para separar */
  }
  .indicador-info:last-child {
    border-bottom: none; /* Remove a borda no último item */
  }
</style>

<div class="container mt-4">
    <!-- Curso e Inscrição -->
    <div class="minimizable">
        <h2>{{ curso.nome }}</h2>
        <div class="minimizable-content">
            <p><strong>Inscrição:</strong> {{ curso.inscricao }}</p>
            <p><strong>Detalhes:</strong> {{ curso.detalhes }}</p>
            <div class="text-center mt-4">
                <a href="{% url 'editar_curso' curso.id %}" class="btn btn-primary">Editar Curso</a>
                <a href="{% url 'gerar_relatorio_geral' curso.id %}" class="btn btn-secondary">Gerar Relatório Geral</a>
            </div>
        </div>
    </div>

    <!-- Indicadores do Curso -->
    <div class="minimizable">
        <h2>Indicadores por Dimensão</h2>
        {% for dimensao, indicadores in indicadores_por_dimensao.items %}
            <div class="minimizable-content">
                <h3>{{ dimensao }}</h3>
                <ul>
                    {% for indicador in indicadores %}
                        <li class="indicador-info">
                            <a href="{% url 'visualizar_indicador' curso.id indicador.id %}">{{ indicador.indicador_info.nome }}</a>
                            <span>
                                {% if indicador.NSA %}
                                    - NSA
                                {% elif indicador.nivel_suposto %}
                                    - Conceito {{ indicador.nivel_suposto }}
                                {% endif %}
                            </span>
                            <div>
                                {% if not indicador.NSA %}
                                    {% if indicador.conteudo %}
                                        <a href="{% url 'baixar_relatorio' curso.id indicador.indicador_info.id %}">
                                            <img class="icon" src="{% static 'icons/download.png' %}" alt="Baixar" style="width: 20px;">
                                        </a>
                                        <a href="#" onclick="confirmarSubstituirRelatorio()">
                                            <img class="icon" src="{% static 'icons/substituir.png' %}" alt="Substituir" style="width: 20px;">
                                        </a>
                                        <form method="post" action="{% url 'deletar_relatorio' curso.id indicador.indicador_info.id %}" class="inline-form" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" style="border:none; background:none;">
                                                <img class="icon" src="{% static 'icons/cancelar.png' %}" alt="Deletar" style="width: 20px;">
                                            </button>
                                        </form>
                                    {% else %}
                                        <a href="#" onclick="document.getElementById('file-upload').click();">
                                            <img class="icon" src="{% static 'icons/envio.png' %}" alt="Enviar Relatório" style="width: 20px;">
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <!-- Informações Complementares -->
    <div class="minimizable">
        <h2>Informações Complementares</h2>
        <div class="minimizable-content">
            <p>{{ curso.informacoes_complementares|default:"Sem informações complementares" }}</p>
        </div>
    </div>
</div>

<script>
    function confirmarSubstituirRelatorio() {
        if (confirm("O relatório já existente será apagado para salvar o novo. Deseja continuar?")) {
            document.getElementById("file-upload").click();
        }
    }
</script>

{% endblock %}
