<h2>Logs para o curso: {{ curso.nome }}</h2>

<table>
    <thead>
        <tr>
            <th>Data e Hora</th>
            <th>Ação</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.dataHora }}</td>
                <td>{{ log.acao }}</td>
                <td>{{ log.descricaoDetalhada }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Links para filtrar os logs -->
<a href="{% url 'filtrar_por_nsa' curso.id %}">Filtrar por NSA</a> |
<a href="{% url 'filtrar_por_conceito' curso.id %}">Filtrar por Conceito</a> |
<a href="{% url 'filtrar_por_relatorio' curso.id %}">Filtrar por Relatório</a>
